<header class="heder">
  <div class="heder__bar">
    <a class="heder__logo-mob" href="index.html" aria-label="На главную">
      <img class="hed-logo" src="../images/logo.png" alt="">
    </a>

    <button
      class="heder__burg"
      type="button"
      aria-label="Открыть меню"
      aria-expanded="false"
      aria-controls="hed-menu"
    >
      <span></span>
      <span></span>
      <span></span>
    </button>

    <nav class="heder__nav" id="hed-menu" aria-label="Основная навигация">
      <a class="heder__lnk" href="indicators.html" data-nav="indicators">Показатели</a>
      <a class="heder__lnk" href="leaders.html" data-nav="leaders">Лидеры</a>

      <a class="heder__logo" href="index.html" aria-label="На главную">
        <img class="hed-logo" src="../images/logo.png" alt="">
      </a>

      <a class="heder__lnk" href="exercises.html" data-nav="exercises">Упражнения</a>
      <a class="heder__lnk" href="profile.html" data-nav="profile">Профиль</a>
    </nav>
  </div>

  <div class="heder__ovrl" hidden>
    <div class="heder__pnl">
      <div class="heder__pnl-top">
        <a class="heder__pnl-brand" href="index.html">
          <img class="hed-logo" src="../images/logo.png" alt="">
          <span>Качки в Иркутске</span>
        </a>
        <button class="heder__cls" type="button" aria-label="Закрыть меню">&times;</button>
      </div>

      <p class="heder__pnl-ttl">Меню качка</p>

      <ul class="heder__pnl-lst">
        <li><a href="indicators.html" data-nav="indicators">Показатели</a></li>
        <li><a href="leaders.html" data-nav="leaders">Лидеры</a></li>
        <li><a href="exercises.html" data-nav="exercises">Упражнения</a></li>
        <li><a href="profile.html" data-nav="profile">Профиль</a></li>
      </ul>
    </div>
  </div>
</header>
