<p class="prof-side__ttl">Меню профиля</p>
<nav class="prof-side__nav">
  <a class="prof-side__lnk" data-tab="overview" href="profile.html">Обзор</a>
  <a class="prof-side__lnk" data-tab="settings" href="profile-settings.html">Настройки</a>
  <a class="prof-side__lnk" data-tab="dost" href="profile-dost.html">Достижения</a>
  <a class="prof-side__lnk" data-tab="history" href="profile-history.html">История</a>
  <a class="prof-side__lnk prof-side__lnk--sup" data-tab="support" href="profile-support.html">Поддержка</a>
  <button class="prof-side__lnk" type="button" id="prof-out">Выйти</button>
</nav>
